/**{
	padding: 0;
	margin: 0;
}*/
h1,h2,h3,h4,ul,p{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
header.header{
	border-bottom: 2px solid #ccc;
	height: 80px;
}
article.container{
	overflow: hidden;
}

section.navleft{
	float: left;
	width: 140px;
	border-right: 1px solid #ccc;
}

section.content{
	margin-left: 145px;
	padding: 10px;
	overflow-y: scroll;
}
footer.footer{
	border-top: 2px solid #ccc;
	height: 50px;
}